.messages
    .message
        .upper-message
            .upper-message__user-name
            %p.user = yuhki
            .upper_message__date
            %p.2019/5/21/(Tue) 9:10:53

        .lower_message
            %p.message = texttexttexttexttexttexttexttext