.flash-box
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p yuhki
          %ul.side-header__menu
            %li.side-header__menu__edit-user
              %a{href: ""}<
                %i.fa.fa-pencil-square-o
            %li.side-header__menu__new-group
              %a{href: ""}<
                %i.fa.fa-cog 

      .groups
        .group
          .group-name
            %p.group-name A
            %p.latest-message hello!
            %p.group-name B
            %p.latest-message ola!
            %p.group-name C
            %p.latest-message bye!
            %p.group-name D
            %p.latest-message chao!